[submodule "vendor/sprockets"]
	path = vendor/sprockets
	url = git://github.com/sstephenson/sprockets.git
[submodule "vendor/closure-compiler"]
	path = vendor/closure-compiler
	url = git://github.com/documentcloud/closure-compiler.git
